body {
  -webkit-app-region: drag;
  overflow: hidden;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  position: relative;
  background-color: rgba(255, 255, 255, 0.3);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
span {
  color: #751a79;
  font-weight: 700;
  margin-bottom: 20px;
  opacity: 1;

}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
button {
  width: 100px;
  height: 30px;
  margin: 5px 0;
  color: rgb(0, 0, 0);
  font-weight: 500;
  font-size: 12px;
  background: #ffffff;
  border: 1px solid #df7fe2;
  -webkit-app-region: no-drag;
}
.listCurse > span {
  margin-bottom: 0;
  color: rgb(0, 0, 0);
}
.listCurse {
  display: flex;
  flex-direction: column;
}
.blockButton{
  position: absolute;
  bottom: 0px;
}